.animais{
    width: 100pd;
    width: 100pd;
}
.prof{
    right: 100px;
    width: 100pd;
    width: 100pd;
}
.sistema{
    right: 100px;
    width: 100pd;
    width: 100pd;
}
h1{
    text-align: center;
}